body {
    font-family: Arial;
    background-color: #f2e6d9;
    text-align: center;
}

h1 {
    background-color: brown;
    color: white;
    padding: 15px;
}

h2 {
    color: brown;
}

p {
    font-size: 18px;
}